<info class="tooltip">
<tip>CAPITAL SHIP<br>- Transporte de qualquer unidade<br>- Abordagem e captura de fábricas<br>- <%= fleet.generic_unit.description %></tip>
<%= fleet.quantity %>
<% if @round.move && fleet.squad == @squad && fleet.fleet_name == ' ' && !@squad.ready? %>
  <%= fleet.generic_unit.name %> "<%= fleet.fleet_name %>"
  <a href = "" onclick="window.open('/generic_fleets/<%= fleet.id %>/edit', 'Capital Ship <%= fleet.id %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=385, height=230')">+</a>
<% else %>
  <%= fleet.generic_unit.name %> "<%= fleet.fleet_name %>"
<% end %>
</info>


