<info class="tooltip">
<%= fleet.quantity %>
<% if @round.move && fleet.squad == @squad && fleet.fleet_name == @squad.name && !@squad.ready? %>
  <%= fleet.generic_unit.name %> "<%= link_to fleet.fleet_name, edit_generic_fleet_path(fleet, :KeepThis => "true", :TB_iframe => "true", :height => "240", :width => "360"), :class => "thickbox" %>"
<% else %>
  <%= fleet.generic_unit.name %> "<%= fleet.fleet_name %>"
<% end %>
<span><%= fleet.generic_unit.description %></span>
</info>

