<% if fleet.generic_unit.type == 'Trooper' %> 
    <span style=font-weight:strong;background-color:#331100>
    <%= fleet.quantity %>
    <%= fleet.generic_unit.name %>
  <% else %>
    <%= fleet.quantity %>
    <%= fleet.generic_unit.name %>
<% end %>
<span style=font-weight:bold><%= "indo para #{fleet.destination.name} " if fleet.moving?%></span>


