<script>
document.title = "Nomear <%= @fleet %>"
</script>
<div class="planet_content">
  <h2><%= @planet %></h2>
  <h3><%= @fleet %> "<%= @fleet.fleet_name %>"</h3>
  <%= simple_form_for @fleet, :url => url_for(:controller => 'generic_fleets', :action => 'update') do |f| %>
    <%= f.input :fleet_name, :label => 'Nome da nave: ', :input_html => { :size => 12 } %>
    <%= f.submit 'Salvar' %>
  <% end %><br>
Atenção: NÃO USE ACENTOS ou caracteres especiais.<br>
Máximo 15 letras. O nome é definitivo.
  <p>
</div>



