<script>
document.title = " <%= @fleet.show %>"
</script>
<div class="planet_content">
  <h2><%= @planet %></h2>
  <h3><%= @fleet.show %></h3>
  <%= simple_form_for @fleet, :url => url_for(:controller => 'generic_fleets', :action => 'update') do |f| %>
    <%= f.input :fleet_name, :label => 'Nome da nave: ', :input_html => { :size => 12 } %>
    <%= f.submit 'Salvar' %>
  <% end %><br>
Atenção: NÃO USE ACENTOS ou caracteres especiais.<br>
<p>
Carga de unidades:<br>
<br>
<%= form_tag(:controller => "generic_fleets", :action => "carregar") do %>
<table>
  <tr valign=bottom>
  <td>Unidades</td><td>Carregar</td>
  </tr>
  <tr>
  <% @carriable_fleets.each do |carriable_fleet| %>
  <td>
    <%= simple_fields_for "carriable_fleets[]", carriable_fleet do |carriable_fleet_form| %>
      <%= carriable_fleet_form.input :carrier => @fleet, :as => :hidden %>
      <%= carriable_fleet_form.object.show %>
  </td>
  <td>
      <%= carriable_fleet_form.input :quantity, :collection => 1..carriable_fleet_form.object.quantity, :label => false %>
  </td>
    <% end %>
  </tr>
  <% end %>
</table>
    <%= submit_tag 'Carregar' %>
<% end %>
</div>



