<script>
document.title = "Menu principal"
</script>


<div class="menu">

<a href="http://wgbrnavies.wordpress.com" target=_blank>Blog do WG </a>


<a href = "<%= @squad.url %>" target=_blank toolbars=no>Fórum Secreto</a>


<a href = "" onclick="window.open('https://docs.google.com/spreadsheet/ccc?key=0ArH0MNBRFM6hdFVDZkctYWZ5Q1FBbXJ2TGl5WGg2bmc&authkey=CL_F9boP&hl=pt_BR#gid=6', 'Tabela', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=1350, height=760')">Tabela de naves</a>

<%  unless @squad.ready? %>
  <a href = "" onclick="window.open('/squads/<%= @squad.id %>/transfer', 'Transf <%= @squad.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=395, height=200')">Transf créditos</a>
<% end %>

<a href = "" onclick="window.open('/images/mapa.swf', 'Mapa', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=1024, height=720')">-= MAPA =-</a>

<br>
 <%= link_to "Finalizar #{@round_phase}", ready_path(:KeepThis => "true", :TB_iframe => "true", :height => "50", :width => "140"), :class => "thickbox" unless @squad.ready? %>

<a href = "" onclick="window.open('/squads/<%= @squad.id %>/goal', 'Objetivo <%= @squad.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=395, height=600')">Objetivos</a>

<a href = "" onclick="window.open('/results/<%= @squad.id %>/show_fog', 'Fog <%= @squad.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=395, height=500')">Inteligência</a>

<a href = "" onclick="window.open('/results/<%= @squad.id %>/show_results', 'Log <%= @squad.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=395, height=500')">Log de batalhas</a>

</div>

<div class="alerts">
<br>
  <span style=text-decoration:blink>
  <%= "ALERTA: Há #{@inactive} slots de fábrica inativos." unless @inactive == 0 %><br>
  <% if @small_fleet == true %>
    ALERTA: Há alguma frota inferior a 200 créditos<br>
  <% end %>
  <%= "ALERTA: Revise os resultados de todos os combates." if @round.attack? %><br>
  </span>
  <% @all_squads.each do |squad| %>
    <span style=text-decoration:blink;color:#<%= squad.color %>>
      <%= squad.name + " pronto  " if squad.ready? %>
    </span>
  <% end %>

<p>
<div align=right><a href="/users/sign_out"> Logout </a></div>
</div>

</div>



