<div class="squad_info">
<span style=color:#<%= @squad.color %>;font-weight:bold;font-size:24px><%= @squad.name %></span><br>
<info class="tooltip">
  <tip style=width:450px>Regras de combate:<br>== XWA ==<br>Host: Defensor<br>AI: Ace<br>Distância: 5km<br>Atacante: slot de cima e monta frota primeiro<br>Defensor: slot de baixo e monta frota por último<br>Fugas: de 2 a 10 minutos. Em qualquer minuto da partida avisar o oponente, ou automático após perder todos os caças. A fuga é cancelada se o fugitivo vencer a batalha durante a fuga.<br>Ataques somente CS/Transp + tropas: foge quem perder a batalha de BF2<br>Overfleet: Se não tiver CS ou Fábrica para guardar, a fuga é obrigatória.<br><br>== BF2 ==<br>Atenção: Pode-se jogar independente do XWA, considerando um desembarque<br> prévio. Desembarque não obrigatório. Se não houver desembarque informe em quais naves as tropas estão.<br>Host: Defensor<br>AI: Elite<br>Bots: 24<br>Friendly Fire: ON<br>Herói: Ativado, opções default. (usar vidas do herói/general do planeta)<br>Máx: 300 troopers, Min: 100 troopers (utilize fatores de ajuste)<br><br>== JA ==<br>Atenção: jogar sempre antes de BF2 e XWA, pois o resultado influencia<br>Duelo obrigatório nas missoes de sabotagem, assassinato e bloqueio de lucros e construções (onde houver troopers).<br>Force Powers: básicos (full power se os jogadores concordarem)<br>Mode Duel: Não<br>Picks: Não permitidos<br>Defesa padrão: 1/3 da vida do atacante, arredondado para baixo<br>Fuga: permitida somente após perder metade das vidas</tip>
  <span style=font-weight:bold;font-size:18px>
  Turno: <%= @round.number %> - <%= @round_phase %></span>
</info>
 <a href = "/fleets">Refresh</a>
<br>
<table border="0" width="320">
  <tr>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:yellow> Disponível: </span> 
    </td>
    <td style="background-color:#1C1C1C" align=right>
      <span style=font-weight:bold;font-size:13px;color:yellow> <%= @squad.credits %></span>
    </td>
    <td width="10">   
   
    </td>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> Fábricas: </span>
    </td>
    <td style="background-color:#1C1C1C" align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @facilities %> </span>
    </td>
  </tr>
  <tr>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> + dom.espacial:</span>
    </td>
    <td align="right">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @air_income %> </span>
    </td>
    <td>

    </td>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#00FF00>Cap.Ships: </span>
    </td>
    <td align="right">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @capital_ships %> </span>
    </td>
  </tr>
  <tr>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> + dom.terrestre:</span>
    </td>
    <td align="right">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @ground_income %> </span>
    </td>
    <td>

    </td>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> Caças: </span>
    </td>
    <td style="background-color:#1C1C1C" align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @fighters %> </span>
    </td>
  </tr>
  <tr>
    <td>
      <info class="tooltip">
        <tip>O penalty de fuga é 20% do valor da frota fugitiva.</tip>
      <span style=font-weight:bold;font-size:13px;color:#FF0000> - fugas: </span>
    </td>
    <td style="background-color:#1C1C1C" align="right">
      <span style=font-weight:bold;font-size:13px;color:#FF0000><%= @flee_tax %> </span>
    </td>
    <td>
     
    </td>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#00FF00>Transportes: </span>
    </td>
    <td align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @transports %> </span>
    </td>
  </tr>
  <tr>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FFFF>Prox. turno:</span> 
    </td>
    <td style="background-color:#1C1C1C" align="right">
      <span style=font-weight:bold;font-size:13px;color:#00FFFF><%= @provided %></span>
    </td>
    <td>
    
    </td>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> Troopers: </span>
    </td>
    <td style="background-color:#1C1C1C" align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @troopers %> </span>
    </td>
  </tr>
  <tr>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#00FF00>Comandantes: </span>
    </td>
    <td align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @commanders %> </span>
    </td>
    <td>
    </td>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> Guerreiros: </span>
    </td>
    <td align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @warriors %> </span>
    </td>
  </tr>
</table>

<a href="http://wgbrnavies.wordpress.com" target=_blank>Blog do WG </a>

<a href = "" onclick="window.open('/squads/<%= @squad.id %>/goal', 'Objetivo <%= @squad.name %>', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=385, height=600')">Objetivos</a>

<a href = "" onclick="window.open('https://docs.google.com/spreadsheet/ccc?key=0ArH0MNBRFM6hdFVDZkctYWZ5Q1FBbXJ2TGl5WGg2bmc&authkey=CL_F9boP&hl=pt_BR#gid=6', 'Tabela', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=1350, height=760')">Tabela de naves</a>

<%  unless @squad.ready? %>
  <a href = "" onclick="window.open('/squads/<%= @squad.id %>/transfer', 'Transf <%= @squad.name %>', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=385, height=200')">Transf créditos</a>
<% end %>

<a href = "" onclick="window.open('map.html', 'window', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=800, height=600')">Mapa</a>

<br>

 <a href = "<%= @squad.url %>" target=_blank toolbars=no>Fórum Secreto</a>

<a href = "" onclick="window.open('/results/<%= @squad.id %>/show_fog', 'Fog <%= @squad.name %>', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=385, height=500')">Fog of War</a>

<a href = "" onclick="window.open('/results/<%= @squad.id %>/show_results', 'Log <%= @squad.name %>', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=385, height=500')">Log de batalhas</a>

 <info class="tooltip">
   <tip style=width:240px>Clique para deixar o esquadrão pronto. Atenção! Não é possível alterar depois.</tip>
 <%= link_to "Finalizar #{@round_phase}", ready_path(:KeepThis => "true", :TB_iframe => "true", :height => "50", :width => "360"), :class => "thickbox" unless @squad.ready? %>
 </info>

<br>

  <% @all_squads.each do |squad| %>
    <span style=text-decoration:blink;color:#<%= squad.color %>>
      <%= squad.name + " pronto  " if squad.ready? %>
    </span>
  <% end %>
</div>

<div class="fleet">
  <%= "ALERTA: Há #{@inactive} slots de fábrica inativos." unless @inactive == 0 %><br>
  <info class="tooltip">
    <tip>Para evitar partidas sem graça, o mínimo é uma frota composta por 200 créditos.<br>O penalty por descumprir esta regra é de 200 créditos ao adversário.</tip>
    <% if @small_fleet == true %>
      ALERTA: Há alguma frota inferior a 200 créditos<br>
    <% end %>
  </info>
  <info class="tooltip">
    <tip>Verifique sempre se a contagem de naves abatidas, fugidas ou capturadas corresponde aos resultados.</tip>
    <%= "ALERTA: Revise os resultados de todos os combates." if @round.attack? %>
  </info>

  <% @planets.each do |planet| %>
    <h2>
    <info class="tooltip">
    <tip>Mapa BF2: <%= planet.description %><br>Regras de combate, passe o mouse no cabeçalho do sistema.</tip>
        <%= planet.name %>
      </info> 
      <info class="tooltip">
        <tip>Conexão direta com o planeta <%= planet.routes.last %> </tip>
        <%= ' (wormhole) ' if planet.wormhole? %>
      </info>
      <info class="tooltip">
        <tip>Estacao de negociacao (zona neutra)<br>Vender: 50% do valor da unidade.<br>Comprar: Descontos de 10% a 50%</tip>
      <%= ' (tradeport)' if planet.tradeport? %>
    </h2>

    <p>
    <%= "Ganhos previstos (Espaço: $#{planet.air_credits} / Terra: $#{planet.ground_credits})  " if planet.credits_per_turn.present? && planet.credits_per_turn > 0 && !planet.under_attack? && !planet.tradeport? %>
    <p>
    <% planet.generic_fleets.each do |fleet| %>
      <span style=color:#<%= fleet.squad.color %>>
      <info class="tooltip">
      <tip><%= fleet.generic_unit.description %></tip>
      <% case fleet.generic_unit.type %>
      <% when 'Facility' %>
        <%= render :partial => 'facilities', :locals => { :fleet => fleet } %>
      <% when 'CapitalShip' %>
        <%= render :partial => 'capital_ships', :locals => { :fleet => fleet } %>
      <% when 'Warrior' %>
        <%= render :partial => 'warriors', :locals => { :fleet => fleet } %>
      <% when 'Commander' %>
        <%= render :partial => 'commanders', :locals => { :fleet => fleet } %>
      <% when 'Trooper' %>
        <%= render :partial => 'troopers', :locals => { :fleet => fleet } %>
      <% when 'Armament' %>
        <%= render :partial => 'armaments', :locals => { :fleet => fleet } %>
      <% when 'LightTransport' %>
        <%= render :partial => 'light_transports', :locals => { :fleet => fleet } %>
      <% when 'Fighter' %>
        <%= render :partial => 'fighters', :locals => { :fleet => fleet } %>
      <% when 'Sensor' %>
        <%= render :partial => 'sensors', :locals => { :fleet => fleet } %>
      <% else %>
        <%= render :partial => 'fleets', :locals => { :fleet => fleet } %>
      <% end %>
      </info>
      <span style=color:#40E0D0><%= fleet.show_results %></span>
      <span style=color:#40E0D0><%= "--> #{fleet.destination.name} " if fleet.moving? && fleet.squad == @squad && @round.move %></span>
      </span>
      <br>
    <% end %>
    <p>
   <% if @round.move && !@squad.ready? %>
<a href = "" onclick="window.open('/planets/<%= planet.id %>/move.html', '<%= planet.name %>', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=385, height=540')">mover frotas</a>
   <% end %>
</span>

   <% if @round.move && planet.able_to_construct?(@squad) && !@squad.ready? %>
     <a href = "" onclick="window.open('/planets/<%= planet.id %>/facility_fleets/new', 'Facility <%= planet.name %>', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=385, height=215')">construir fábrica</a> 
   <% end %>
   
   <% if @round.move && planet.tradeport? && !@squad.ready? %>
<a href = "" onclick="window.open('/tradeports/<%= planet.id %>', 'Tradeport <%= @squad.name %>', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=385, height=280')">tradeport</a> 
   <% end %>
      
   <% if @round.attack && planet.under_attack? && !@squad.ready?  %>
     <a href = "" onclick="window.open('/planets/<%= planet.id %>/results', 'Resultados <%= planet.name %>', 'toolbar=no, location=no, scroolbars=yes, resizable=yes, width=620, height=500')">postar resultados</a>
   <% end %>
<p>
    <% if @round.attack && planet.under_attack? && !planet.tradeport? %>
      <info class="tooltip">
        <tip>No XWA, o atacante monta a frota primeiro e usa os slots de cima.<br>No BF2, o atacante escolhe o award primeiro.</tip>
         Atacante -> <span style=color:#<%= planet.first_player.color %>><%= planet.first_player.name %></span><br>
      </info>
      <% if planet.squads.count > 2 %>
        <% mid_defense = @all_squads.reject {|x| x == planet.first_player or x == planet.last_player}.first %>
        <info class="tooltip">
          <tip>No XWA, o defensor inicial é o host do jogo, usa os slots de baixo e monta a frota por último.<br>No BF2, o defensor inicial é o host do jogo e escolhe o award por último.<br>O defensor inicial joga contra o atacante (em combates 1x1x1).</tip>
          Defensor inicial -> <span style=color:#<%= mid_defense.color %>><%=  mid_defense.name %></span><br>
        </info>
      <% end %>
      <info class="tooltip">
        <tip>No XWA, o defensor é o host do jogo, usa os slots de baixo e monta a frota por último.<br>No BF2, o defensor é o host do jogo e escolhe o award por último.<br>O defensor é o último a jogar (em combates 1x1x1).</tip>
        Defensor-> <span style=color:#<%= planet.last_player.color %>><%= planet.last_player.name %></span>
      </info>
    <% end %>
    <% if @round.attack && planet.under_attack? && planet.tradeport? %>
      Zona Neutra
    <% end %>

  <% end %>
<p>
<div align=right><a href="/users/sign_out"> Logout </a></div>
</div>



