<div class="squad_info">
<span style=color:#<%= @squad.color %>;font-weight:bold;font-size:18px><%= @squad.name %></span><br>
<span> Round: <%= @round.number %> | Credits: $<%= @squad.credits %> | Income: $<%= @income %></span>
</div>

<div class="planet_content">
  <% @planets.each do |planet| %>
    <h2> <%= planet.name %> </h2>
    <%= link_to 'move fleets', move_planet_path(planet) if @round.move %> 
    <%= link_to 'buy facility', buy_facility_path(planet) if @round.move && planet.squad == @squad %> 
    <%= link_to 'post results', planet_results_path(planet) if @round.attack %>
    <p>
    <span style=font-weight:bold><%= "Income: $ #{planet.credits}" if planet.credits_per_turn.present? && planet.credits_per_turn > 0 %></span>
    <p>
    <% planet.generic_fleets.each do |fleet| %>
      <span style=color:#<%= fleet.squad.color %>>
      <% if fleet.class == FacilityFleet %> 
         <%= render :partial => 'facilities', :locals => { :fleet => fleet } %>
      <% else %>   
         <%= render :partial => 'fleets', :locals => { :fleet => fleet } %>
      <% end %>
      </span>
      <br>
    <% end %>
  <% end %>
</div>        

