<div class="squad_info">
<span style=color:#<%= @squad.color %>;font-weight:bold;font-size:24px><%= @squad.name %></span><br>
<span style=font-weight:bold;font-size:18px> Round: <%= @round.number %> <%= link_to "click when ready ", ready_path %></span><br>
<span style=font-weight:bold;font-size:13px;color:yellow> Credits: $<%= @squad.credits %> <%= link_to "transfer credits ", :transfer %> </span><br>
<span style=font-weight:bold;font-size:13px;color:#00FF00> Income: $<%= @income %> </span><br>
<span style=font-weight:bold;font-size:13px;color:#FF0000> Wasted: $ -<%= @flee_tax.to_i %></span><br>
<span style=text-decoration:blink;><%= " Strategy is ready! Waiting other players " if @squad.ready? %></span>
</div>

<div class="planet_content">
  <% @planets.each do |planet| %>
    <h2> <%= planet.name %></h2>
    <p>
    <%= "Planet Income: $#{planet.credits}" if planet.credits_per_turn.present? && planet.credits_per_turn > 0 && planet.squad == @squad && planet.ground_squad == @squad %>
    <p>
    <% planet.generic_fleets.each do |fleet| %>
      <span style=color:#<%= fleet.squad.color %>>
      <% if fleet.class == FacilityFleet %>
         <%= render :partial => 'facilities', :locals => { :fleet => fleet } %>
       <% else %>
         <%= render :partial => 'fleets', :locals => { :fleet => fleet } %>
      <% end %>
      </span>
      <br>
    <% end %>
    <p>
    <%= link_to 'move fleets ', move_planet_path(planet) if @round.move %>
    <%= link_to ' build facility ', new_planet_facility_fleet_path(planet) if @round.move && planet.squad == @squad %>
    <%= link_to 'post results ', planet_results_path(planet) if @round.attack %> 
  <% end %>
</div>
<br>
<a href="/users/sign_out"> Logout </a>

<div class="map">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1080" height="768" id="FlashID" title="Map 6.0">
  <param name="movie" value="http://brnavies.dyndns.org:3000/mapa.swf" />
  <param name="quality" value="high" />

  <param name="wmode" value="opaque" />
  <param name="swfversion" value="9.0.45.0" />
  <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
  <param name="expressinstall" value="Scripts/expressInstall.swf" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="http://brnavies.dyndns.org:3000/mapa.swf" width="1080" height="768">
    <!--<![endif]-->
    <param name="quality" value="high" />

    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
      <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
    </div>

    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
</div>

