<div class="squad_info">
<span style=color:#<%= @squad.color %>;font-weight:bold;font-size:24px><%= @squad.name %></span><br>
<span style=font-weight:bold;font-size:18px> Turno: <%= @round.number %> - <%= @round_phase %></span><br>
<table border="0">
  <tr>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:yellow> Disponível: </span> 
    </td>
    <td style="background-color:#1C1C1C" align=right>
      <span style=font-weight:bold;font-size:13px;color:yellow> <%= @squad.credits %></span>
    </td>
    <td>   
    <%= link_to ' Transferir créditos ', transfer_squad_path(@squad, :KeepThis => "true", :TB_iframe => "true", :height => "200", :width => "400"), :class => "thickbox" %></span>
    </td>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> Fábricas: </span>
    </td>
    <td style="background-color:#1C1C1C" align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @facilities %> </span>
    </td>
  </tr>
  <tr>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> + planetas:</span>
    </td>
    <td align="right">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @income %> </span>
    </td>
    <td>
      <a href="http://wgbrnavies.wordpress.com" target=_blank> Blog do Wargames </a>
    </td>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#00FF00>Cap.Ships: </span>
    </td>
    <td align="right">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @capital_ships %> </span>
    </td>
  </tr>
  <tr>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> + transporte:</span>
    </td>
    <td style="background-color:#1C1C1C" align="right">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> 0 </span>
    </td>
    <td>
    <%= link_to ' Objetivos ', goal_squad_path(@squad, :KeepThis => "true", :TB_iframe => "true", :height => "400", :width => "400"), :class => "thickbox" %></span>
    </td>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> Caças: </span>
    </td>
    <td style="background-color:#1C1C1C" align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @fighters %> </span>
    </td>
  </tr>
  <tr>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#FF0000> - fugas: </span>
    </td>
    <td style="background-color:#1C1C1C" align="right">
      <span style=font-weight:bold;font-size:13px;color:#FF0000><%= @flee_tax %> </span>
    </td>
    <td>
      <a href = "https://docs.google.com/spreadsheet/ccc?key=0ArH0MNBRFM6hdFVDZkctYWZ5Q1FBbXJ2TGl5WGg2bmc&authkey=CL_F9boP&hl=pt_BR#gid=6" width="1070" height="760" scrolling="auto" frameborder="0" align="right" target=_blank>Tabela de naves</a>
    </td>
    <td>
      <span style=font-weight:bold;font-size:13px;color:#00FF00>Transportes: </span>
    </td>
    <td align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @transports %> </span>
    </td>
  </tr>
  <tr>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FFFF>Prox. turno:</span> 
    </td>
    <td style="background-color:#1C1C1C" align="right">
      <span style=font-weight:bold;font-size:13px;color:#00FFFF><%= @provided %></span>
    </td>
    <td>
    </td>
    <td style="background-color:#1C1C1C">
      <span style=font-weight:bold;font-size:13px;color:#00FF00> Troopers: </span>
    </td>
    <td style="background-color:#1C1C1C" align=right>
      <span style=font-weight:bold;font-size:13px;color:#00FF00> <%= @troopers %> </span>
    </td>
  </tr>

</table>
  <% unless @squad.ready? %>
    <%= link_to "Esquadrão pronto", ready_path %> Clique apenas uma vez!
  <% end %>
  <% @all_squads.each do |squad| %>
    <span style=text-decoration:blink;color:#<%= squad.color %>>
      <%= squad.name + " pronto  " if squad.ready? %>
    </span>
  <% end %>
</div>

<div class="planet_content">
  <% @planets.each do |planet| %>
    <h2> <%= planet.name %> <%= ' (wormhole) ' if planet.wormhole? %><%= ' (tradeport)' if planet.tradeport? %></h2>
    <p>
    <%= "Ganhos previstos: $#{planet.credits_per_turn}" if planet.credits_per_turn.present? && planet.credits_per_turn > 0 && (planet.squad == @squad || planet.ground_squad == @squad) %>
    <p>
    <% planet.generic_fleets.sort_by{|a| [a.squad.name, a.generic_unit.type, a.quantity, a.generic_unit.name]}.each do |fleet| %>
      <span style=color:#<%= fleet.squad.color %>>
      <% case fleet.generic_unit.type %>
      <% when 'Facility' %>
        <%= render :partial => 'facilities', :locals => { :fleet => fleet } %>
      <% when 'CapitalShip' %>
        <%= render :partial => 'capital_ships', :locals => { :fleet => fleet } %>
      <% when 'Warrior' %>
        <%= render :partial => 'warriors', :locals => { :fleet => fleet } %>
      <% when 'Trooper' %>
        <%= render :partial => 'troopers', :locals => { :fleet => fleet } %>
      <% else %>
        <%= render :partial => 'fleets', :locals => { :fleet => fleet } %>
      <% end %>
      <span style=color:#40E0D0><%= fleet.show_results %></span>
      <span style=color:#40E0D0><%= "--> #{fleet.destination.name} " if fleet.moving? && fleet.squad == @squad %></span>
      </span>
      <br>
    <% end %>
    <p>
    <%= link_to ' mover frotas ', move_planet_path(planet, :KeepThis => "true", :TB_iframe => "true", :height => "500", :width => "400"), :class => "thickbox" if @round.move && !@squad.ready? %></span>
    <%= link_to ' construir fábrica ', new_planet_facility_fleet_path(planet, :KeepThis => "true", :TB_iframe => "true", :height => "200", :width => "400"), :class => "thickbox" if @round.move && planet.able_to_construct?(@squad) && !@squad.ready? %>
    <%= link_to ' tradeport ', tradeport_path(planet, :KeepThis => "true", :TB_iframe => "true", :height => "270", :width => "400"), :class => "thickbox" if planet.tradeport? && !@squad.ready? %></span>
    <% if @round.attack && planet.under_attack? %>
      <%= "Defensor ->" %>
      <% if planet.squad.present? %>
      <span style=color:#<%= planet.squad.color %>><%= planet.squad.name %></span>
        <% elsif planet.ground_squad.present? %> 
        <span style=color:#<%= planet.ground_squad.color %>><%= planet.ground_squad.name %></span>
       <% else %>
        não há
      <% end %>
      <p>
    <% end %>
    <%= link_to ' postar resultados ', planet_results_path(planet, :KeepThis => "true", :TB_iframe => "true", :height => "500", :width => "420"), :class => "thickbox" if @round.attack && planet.under_attack? && !@squad.ready?%>
  <% end %>
<p>
<div align=right><a href="/users/sign_out"> Logout </a></div>
</div>

<br>


<div class="map">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1050" height="768" id="FlashID" title="Map">
  <param name="movie" value="/images/mapa.swf" />
  <param name="quality" value="high" />

  <param name="wmode" value="opaque" />
  <param name="swfversion" value="9.0.45.0" />
  <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
  <param name="expressinstall" value="Scripts/expressInstall.swf" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="/images/mapa.swf" width="1050" height="768">
    <!--<![endif]-->
    <param name="quality" value="high" />

    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
      <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
    </div>

    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
</div>

