<div class="planet_content">
<h2> <%= @planet.name %> <%= ' (wormhole) ' if @planet.wormhole? %><%= ' (tradeport)' if @planet.tradeport? %></h2>
<%= simple_form_for :fleet, :url => url_for(:controller => 'tradeports', :action => 'buy') do |f| %>
  <%= f.input :id, :collection => @fleets, :label => 'Vender: ' %>
  <%= f.input :quantity, :label => 'Quantidade: ', :input_html => { :size => 1 } %>
  <%= f.submit 'Vender' %>
<% end %>
<p>
<%= simple_form_for :fleet, :url => url_for(:controller => 'tradeports', :action => 'sell') do |f| %>
  <%= f.hidden_field :planet, :value => @planet.id %>
  <%= f.input :id, :collection => @tradeport_stock, :label => 'Comprar: ' %>
  <%= f.input :quantity, :label => 'Quantidade: ', :input_html => { :size => 1 } %>
  <%= f.submit 'Comprar' %>
<% end %>
</div>
