<info class="tooltip">
<% if fleet.moving? %>
  <tip>DETECTOR <br><%= fleet.generic_unit.name %> em missão de transporte.<br>Destruída se todo o comboio for destruído<br>Só pode ser remontada em planetas sem unidades inimigas</tip>
<% else %>
  <tip>DETECTOR<br>- Detecta unidades inimigas de grande porte nas proximidades<br>- Transporta-se em <%= fleet.generic_unit.description %></tip>
<% end %>
<%= fleet.show %>
</info>
<% unless fleet.squad != @squad || fleet.squad.ready? || fleet.moving? || fleet.sabotaged? || @round.attack? %>
  (<a href = "" onclick="window.open('/sensors/<%= fleet.id %>/edit', 'Sensor <%= fleet.planet.name %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=395, height=400')">detectar</a>)
<% end %>
