<script>
document.title = "<%= @planet.name %> move"
</script>
<div class="planet_content">
<% if @fleets.present? %>
  <h2><%= @fleets.first.planet.name %></h2>
  <% elsif @facilities.present? %>
  <h2><%= @facilities.first.planet.name %></h2>
<% end %>
<% @fleets.sort_by{|a| [a.generic_unit.id, a.quantity]}.each do |fleet| %>
  <span style=font-weight:bold;color:#<%= fleet.squad.color %>><%= fleet.show %></span>
<span style=color:#40E0D0><%= "--> #{fleet.destination.name} " if fleet.moving? %></span>
  <% unless fleet.type? Warrior || fleet.type?(Commander) %>
    <%= simple_form_for fleet, :url => url_for(:controller => 'generic_fleets', :action => 'move') do |f| %>
      <%= f.hidden_field :id %>
      <table>
        <tr>
        <td>
          <%= f.input :quantity, :collection => 1..fleet.quantity, :label => false %>
        </td>
        <td>
          <%= f.input :destination, :collection => @routes, :label => false %>
        </td>  
        <td> 
          <%= f.submit 'Mover' %>
        </td>
        </tr>
      </table>
    <% end %>
  <% else %>
    <%= simple_form_for fleet, :url => url_for(:controller => 'generic_fleets', :action => 'move') do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :quantity %>
      <table>
        <tr>
        <td>
          <%= f.input :destination, :collection => @routes, :label => false %>
        </td>
        <td>
          <%= f.submit 'Mover' %>
        </td>
        </tr>
      </table>
    <% end %>
  <% end %>
<br>
<% end %>
<% @facilities.sort_by{|a| [a.generic_unit.id]}.each do |facility| %>  
  <span style=font-weight:bold;color:#<%= facility.squad.color %>><%= facility.show %></span>
<span style=color:#40E0D0><%= "--> #{facility.destination.name} " if facility.moving? %></span>
  <%= simple_form_for facility, :url => url_for(:controller => 'generic_fleets', :action => 'move_facility') do |f| %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :quantity %>
    <table>
      <tr>
      <td>
        <%= f.input :destination, :collection => @routes, :label => false %>
      </td>
      <td>
        <%= f.submit 'Mover' %>
      </td>
      </tr>
    </table>
  <% end %>
<% end %>
Atenção! O cancelamento ou mudança de direção pode<br>
cancelar alguns ou todos os movimentos no planeta.


