<div class="planet_content">
<h2><%= @fleets.first.planet.name %></h2>
<% @fleets.sort_by{|a| [a.generic_unit.type, a.quantity, a.generic_unit.name]}.each do |fleet| %>
  <span style=font-weight:bold><%= fleet.quantity %> <%= fleet.generic_unit.name %> <%= "'#{fleet.fleet_name}'" if fleet.fleet_name != fleet.squad.name %></span>
<% unless fleet.type? Warrior %>
  <%= simple_form_for fleet, :url => url_for(:controller => 'generic_fleets', :action => 'move') do |f| %>
    <%= f.input :quantity, :collection => 1..fleet.quantity, :label => 'Quantidade: ' %>
    <%= f.input :destination, :collection => @routes, :label => 'Destino: ' %>
    <%= f.hidden_field :id %>
    <%= f.submit 'Mover' %>
  <% end %>
<% else %>
  <%= simple_form_for fleet, :url => url_for(:controller => 'generic_fleets', :action => 'move') do |f| %>
    <%= f.input :quantity, :collection => fleet.quantity..fleet.quantity, :label => 'Quantidade: ' %>
    <%= f.input :destination, :collection => @routes, :label => 'Destino: ' %>
    <%= f.hidden_field :id %>
    <%= f.submit 'Mover' %>
  <% end %>
<% end %>
  <br>
<% end %>
</div>
<br>
<%= link_to " voltar ", :back_to_main %>
<div class="map">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1080" height="768" id="FlashID" title="Map 6.0">
  <param name="movie" value="http://brnavies.dyndns.org/mapa.swf" />
  <param name="quality" value="high" />

  <param name="wmode" value="opaque" />
  <param name="swfversion" value="9.0.45.0" />
  <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
  <param name="expressinstall" value="Scripts/expressInstall.swf" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="http://brnavies.dyndns.org/mapa.swf" width="1080" height="768">
    <!--<![endif]-->
    <param name="quality" value="high" />

    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
      <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
    </div>

    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
</div>
