<script>
document.title = "Resultados <%= @results.first.planet.name %>"
</script>
<div class="result_content">
<span style=font-size:11px>
<h2><%= @results.first.planet.name %></h2>
<%= form_tag "results" do %>
  <table>
  <tr valign=bottom>
  <td></td><td>Destruidos</td><td>Fugiram</td><td>Capturados</td><td>Capturado Por</td><td>Bloqueada<br>Sabotada?</td>
  </tr>
  <tr>
  <% @results.each do |result| %>
  <td>
    <%= simple_fields_for "results[]", result do |result_form| %>
       <span style=color:#<%= result_form.object.squad.color %>;font-weight:bold>
       <%= result_form.object.quantity if result_form.object.generic_fleet.type?(CapitalShip) || result_form.object.generic_fleet.type?(Sensor) || result_form.object.generic_fleet.type?(Facility) || result_form.object.generic_fleet.type?(Commander)  %>
       <%= result_form.object.show %>
       </span>
   </td>
       <%= result_form.input :quantity, :as => :hidden %>
       <%= result_form.association :generic_unit, :as => :hidden %>
       <%= result_form.association :generic_fleet, :as => :hidden %>
       <%= result_form.association :planet, :as => :hidden %>
       <%= result_form.association :round, :as => :hidden %>
       <%= result_form.association :squad, :as => :hidden %>
       <td align = "center">
       <%= result_form.input :blasted, :input_html => { :size => 2 }, :label => false %>
       </td>
       <td align = "center">
       <%= result_form.input :fled, :input_html => { :size => 2 }, :label => false unless (result_form.object.generic_fleet.type?(Facility) || result_form.object.generic_fleet.type?(Sensor)) && result_form.object.generic_fleet.moving != true %>
       </td>
       <td align = "center">
       <%= result_form.input :captured, :input_html => { :size => 2 }, :label => false unless ((result_form.object.generic_unit.type == 'Facility' || result_form.object.generic_unit.type == 'Sensor') && result_form.object.generic_fleet.moving?) || result_form.object.generic_unit.type == 'Warrior' || result_form.object.generic_unit.type == 'Trooper' || result_form.object.generic_unit.type == 'Commander' %>
       <%= "<--vidas !!" if result_form.object.generic_unit.type == 'Warrior' %>
       </td>
       <td align = "center">
       <%= result_form.association :captor, :collection => @squads.select { |squad| squad != result_form.object.squad }, :label => false unless ((result_form.object.generic_unit.type == 'Facility' || result_form.object.generic_unit.type == 'Sensor') && result_form.object.generic_fleet.moving?) || result_form.object.generic_unit.type == 'Warrior' || result_form.object.generic_unit.type == 'Trooper' || result_form.object.generic_unit.type == 'Commander' %>
       </td>
       <td align = "center">
       <% if (result_form.object.generic_unit.type == 'Facility' || result_form.object.generic_unit.type == 'Sensor' || result_form.object.generic_fleet.type?(CapitalShip) || result_form.object.generic_fleet.type?(Commander)) && result_form.object.generic_fleet.moving != true %><%= result_form.check_box :sabotaged %>
       <% end %>
       </td>
       </tr>

    <% end %>
  <% end %>
  </table>
<info class="tooltip">
   <tip style=width:250px>Se houver inconsistência o resultado não é gravado.</tip>
  <%= submit_tag 'Salvar resultados' %>
  </info>
<% end %>
<br>
ATENÇÃO: Nas fugas parciais, não esqueça de informar as unidades destruídas ou capturadas.
</span>
<p>
 <% if @round.attack && @planet.under_attack? && !@planet.tradeport? %>
      <info class="tooltip">
        <tip>No XWA, o atacante monta a frota primeiro e usa os slots de cima.<br>No BF2, o atacante escolhe o award primeiro.</tip>
         Atacante -> <span style=color:#<%= @planet.first_player.color %>><%= @planet.first_player.name %></span><br>
      </info>
      <% if @planet.squads.count > 2 %>
        <% mid_defense = @all_squads.reject {|x| x == @planet.first_player or x == @planet.last_player}.first %>
        <info class="tooltip">
          <tip>No XWA, o defensor inicial é o host do jogo, usa os slots de baixo e monta a frota por último.<br>No BF2, o defensor inicial é o host do jogo e escolhe o award por último.<br>O defensor inicial joga contra o atacante (em combates 1x1x1).</tip>
          Defensor inicial -> <span style=color:#<%= mid_defense.color %>><%=  mid_defense.name %></span><br>
        </info>
      <% end %>
      <info class="tooltip">
        <tip>No XWA, o defensor é o host do jogo, usa os slots de baixo e monta a frota por último.<br>No BF2, o defensor é o host do jogo e escolhe o award por último.<br>O defensor é o último a jogar (em combates 1x1x1).</tip>
        Defensor-> <span style=color:#<%= @planet.last_player.color %>><%= @planet.last_player.name %></span>
      </info>
    <% end %>
</div>
<br>
