<script>
document.title = "Resultados em <%= @results.first.planet.name %>"
</script>
<div class="result_content">
<span style=font-size:11px>
<h2><%= @results.first.planet.name %></h2>
<%= form_tag "results" do %>
  <table>
  <tr valign=bottom>
  <td></td><td>Destruidos</td><td>Fugiram</td><td>Capturados</td><td>Capturado Por</td><td>Bloqueada<br>Sabotada?</td>
  </tr>
  <tr>
  <% @results.each do |result| %>
  <td>
    <%= simple_fields_for "results[]", result do |result_form| %>
       <span style=color:#<%= result_form.object.squad.color %>;font-weight:bold>
       <% if (result_form.object.generic_unit.type == 'Facility' || result_form.object.generic_unit.type == 'Sensor') && result_form.object.generic_fleet.moving? %>
         <%= result_form.object.quantity %>
         <%= result_form.object.generic_unit.description %>
       <% elsif result_form.object.generic_unit.type == 'Warrior' %>
         <%= result_form.object.generic_unit.name %>
         (<%= result_form.object.quantity %> vidas)
       <% elsif result_form.object.generic_unit.type == 'Commander' %>
         <%= result_form.object.generic_unit.name %>
         (<%= result_form.object.quantity %>)
       <% else %>
         <%= result_form.object.quantity %>
         <%= result_form.object.generic_unit.name %>
       <% end %>
       <% if result_form.object.generic_unit.type == 'Facility' %>
         <%= "(#{result_form.object.generic_fleet.producing_unit.name})" if result_form.object.generic_fleet.producing_unit.present? && result_form.object.generic_fleet.moving != true %>
       <% end %>
       <% if result_form.object.generic_unit.type == 'CapitalShip' %>
         '<%= result_form.object.generic_fleet.fleet_name  %>'
       <% end %>
       </span>
   </td>
       <%= result_form.input :quantity, :as => :hidden %>
       <%= result_form.association :generic_unit, :as => :hidden %>
       <%= result_form.association :generic_fleet, :as => :hidden %>
       <%= result_form.association :planet, :as => :hidden %>
       <%= result_form.association :round, :as => :hidden %>
       <%= result_form.association :squad, :as => :hidden %>
       <td align = "center">
       <%= result_form.input :blasted, :input_html => { :size => 2 }, :label => false %>
       </td>
       <td align = "center">
       <%= result_form.input :fled, :input_html => { :size => 2 }, :label => false unless (result_form.object.generic_unit.type == 'Facility' || result_form.object.generic_unit.type == 'Sensor') && result_form.object.generic_fleet.moving != true %>
       </td>
       <td align = "center">
       <%= result_form.input :captured, :input_html => { :size => 2 }, :label => false unless ((result_form.object.generic_unit.type == 'Facility' || result_form.object.generic_unit.type == 'Sensor') && result_form.object.generic_fleet.moving?) || result_form.object.generic_unit.type == 'Warrior' || result_form.object.generic_unit.type == 'Trooper' || result_form.object.generic_unit.type == 'Commander' %>
       <%= "<--vidas !!" if result_form.object.generic_unit.type == 'Warrior' %>
       </td>
       <td align = "center">
       <%= result_form.association :captor, :collection => @squads.select { |squad| squad != result_form.object.squad }, :label => false unless ((result_form.object.generic_unit.type == 'Facility' || result_form.object.generic_unit.type == 'Sensor') && result_form.object.generic_fleet.moving?) || result_form.object.generic_unit.type == 'Warrior' || result_form.object.generic_unit.type == 'Trooper' || result_form.object.generic_unit.type == 'Commander' %>
       </td>
       <td align = "center">
       <% if (result_form.object.generic_unit.type == 'Facility' || result_form.object.generic_unit.type == 'Sensor')  && result_form.object.generic_fleet.moving != true %><%= result_form.check_box :sabotaged %>
       <% end %>
       </td>
       </tr>

    <% end %>
  <% end %>
  </table>
<info class="tooltip">
   <tip style=width:250px>Se houver inconsistência o resultado não é gravado.</tip>
  <%= submit_tag 'Salvar resultados' %>
  </info>
<% end %>
<br>
ATENÇÃO: Nas fugas parciais, não esqueça de informar as unidades destruídas ou capturadas.
</span>
</div>
<br>
