<div class="planet_content">
<h2><%= @results.first.planet.name %></h2>
<%= form_tag "results" do %>
  <% @results.sort_by{|a| [a.generic_unit.type, a.quantity, a.generic_unit.name]}.each do |result| %>
    <%= simple_fields_for "results[]", result do |result_form| %>
       <span style=color:#<%= result_form.object.squad.color %>;font-weight:bold;font-size:14px>
       <% if result_form.object.generic_unit.type == 'Facility' and result_form.object.generic_fleet.moving? %>
         <%= result_form.object.quantity %>
         <%= result_form.object.generic_unit.description %>
       <% elsif result_form.object.generic_unit.type == 'Warrior' %>
         <%= result_form.object.generic_unit.name %>
         (<%= result_form.object.quantity %> vidas)
       <% else %>
         <%= result_form.object.quantity %>
         <%= result_form.object.generic_unit.name %>
       <% end %>

       <% if result_form.object.generic_unit.type == 'Facility' %>
         <%= "(#{result_form.object.generic_fleet.producing_unit.name})" if result_form.object.generic_fleet.producing_unit.present? and result_form.object.generic_fleet.moving != true %>
       <% end %>

       <% if result_form.object.generic_unit.type == 'CapitalShip' %>
         '<%= result_form.object.generic_fleet.fleet_name  %>'
       <% end %>
</span>
       <%= result_form.input :quantity, :as => :hidden %>
       <%= result_form.association :generic_unit, :as => :hidden %>
       <%= result_form.association :generic_fleet, :as => :hidden %>
       <%= result_form.association :planet, :as => :hidden %>
       <%= result_form.association :round, :as => :hidden %>
       <%= result_form.association :squad, :as => :hidden %><br>
       <% if result_form.object.generic_unit.type == 'Facility' and result_form.object.generic_fleet.moving != true %>
         Sabotada? <%= result_form.check_box :sabotaged %>
       <% end %>
       <%= result_form.input :blasted, :input_html => { :size => 3 }, :label => 'Destruidos: ' %>
       <%= result_form.input :fled, :input_html => { :size => 3 }, :label => 'Fugiram: ' unless result_form.object.generic_unit.type == 'Facility' and result_form.object.generic_fleet.moving != true %>
       <%= result_form.input :captured, :input_html => { :size => 3 }, :label => 'Capturados: ' unless (result_form.object.generic_unit.type == 'Facility' and result_form.object.generic_fleet.moving?) or result_form.object.generic_unit.type == 'Warrior' or result_form.object.generic_unit.type == 'Trooper' %>
       <%= result_form.association :captor, :collection => @squads, :label => 'Capturador: ' unless (result_form.object.generic_unit.type == 'Facility' and result_form.object.generic_fleet.moving?) or result_form.object.generic_unit.type == 'Warrior' or result_form.object.generic_unit.type == 'Trooper' %>
       <br>
    <% end %>
  <% end %>
  <%= submit_tag 'Salvar resultados' %>
<% end %>
</div>
<br>
