<div class="planet_content">
<h2><%= @results.first.planet.name %></h2>
<%= form_tag "results" do %>
  <% @results.each do |result| %>
    <%= simple_fields_for "results[]", result do |result_form| %>
       <span style=color:#<%= result_form.object.squad.color %>;font-weight:bold;font-size:14px><%= result_form.object.quantity %>
       <%= result_form.object.generic_unit.name %></span>
       <%= result_form.input :quantity, :as => :hidden %>
       <%= result_form.association :generic_unit, :as => :hidden %>
       <%= result_form.association :generic_fleet, :as => :hidden %>
       <%= result_form.association :planet, :as => :hidden %>
       <%= result_form.association :round, :as => :hidden %>
       <%= result_form.association :squad, :as => :hidden %>
       <%= result_form.input :blasted, :input_html => { :size => 3 } %>
       <%= result_form.input :fled, :input_html => { :size => 3 } %>
       <%= result_form.input :captured, :input_html => { :size => 3 } %>
       <%= result_form.association :captor, :collection => (@squads - result.squad) %>
       <br>
    <% end %>
  <% end %>
  <%= submit_tag :submit %>
<% end %>
</div>
<br>
<%= link_to " back ", :back_to_main %>
