<div class="planet_content">
<h2><%= @results.first.planet.name %></h2>
<%= form_tag "results" do %>
  <% @results.sort_by{|a| [a.generic_unit.type, a.quantity, a.generic_unit.name]}.each do |result| %>
    <%= simple_fields_for "results[]", result do |result_form| %>
       <span style=color:#<%= result_form.object.squad.color %>;font-weight:bold;font-size:14px>
       <%= result_form.object.quantity %>
       <%= result_form.object.generic_unit.name %>
       <% if result_form.object.generic_unit.type == 'Facility' && result_form.object.generic_unit.type.present? %>
         (<%= result_form.object.generic_fleet.producing_unit.name  %>)
       <% end %>
       <% if result_form.object.generic_unit.type == 'CapitalShip' %>
         '<%= result_form.object.generic_fleet.fleet_name  %>'
       <% end %>
</span>
       <%= result_form.input :quantity, :as => :hidden %>
       <%= result_form.association :generic_unit, :as => :hidden %>
       <%= result_form.association :generic_fleet, :as => :hidden %>
       <%= result_form.association :planet, :as => :hidden %>
       <%= result_form.association :round, :as => :hidden %>
       <%= result_form.association :squad, :as => :hidden %><br>
       <% if result_form.object.generic_unit.type == 'Facility' %>
         Sabotada? <%= result_form.check_box :sabotaged %>
       <% end %>
       <%= result_form.input :blasted, :input_html => { :size => 3 }, :label => 'Destruidos: ' %>
       <%= result_form.input :fled, :input_html => { :size => 3 }, :label => 'Fugiram: ' %>
       <%= result_form.input :captured, :input_html => { :size => 3 }, :label => 'Capturados: ' %>
       <%= result_form.association :captor, :collection => @squads, :label => 'Capturador: ' %>
       <br>
    <% end %>
  <% end %>
  <%= submit_tag :submit %>
<% end %>
</div>
<br>
