<div class="planet_content">
<%= form_tag "results" do %>
  <% @results.each do |result| %>
    <%= simple_fields_for "results[]", result do |result_form| %>
       <span style=font-weight:bold><%= result_form.object.quantity %>
       <%= result_form.object.generic_unit.name %></span>
       <%= result_form.input :quantity, :as => :hidden %>
       <%= result_form.association :generic_unit, :as => :hidden %>
       <%= result_form.association :generic_fleet, :as => :hidden %>
       <%= result_form.association :planet, :as => :hidden %>
       <%= result_form.association :round, :as => :hidden %>
       <%= result_form.association :squad, :as => :hidden %>
       <%= result_form.input :blasted, :length => 3 %>
       <%= result_form.input :fled, :size => 3 %>
       <%= result_form.input :captured, :size => 3 %>
       <%= result_form.association :captor, :collection => @squads %>
       <br>
    <% end %>
  <% end %>
  <%= submit_tag :submit %>
<% end %>
</div>
