<script>
document.title = "Inteligência"
</script>
<div class="fleet">
<h2> Centro de Inteligência </h2>
Últimas informações de espionagem:<br>
  <% @planets.each do |planet| %>
    <% unless planet.generic_fleets.any? { |fleet| fleet.squad == @squad } %>
      <h3> <%= planet.name %> <%= ' (wormhole) ' if planet.wormhole? %><%= ' (tradeport)' if planet.tradeport? %></h3>
    <% else %>
      <h3> <%= planet.name %> <%= ' (wormhole) ' if planet.wormhole? %><%= ' (tradeport)' if planet.tradeport? %></h3>
    <% end %>
    <p>
    <% planet.results.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
      <% if fleet.round.number >= planet.results.maximum("round_id") and fleet.squad != @squad %>
        <% unless fleet.final_quantity <= 0 %>
          <% case fleet.generic_unit.type %>
          <% when 'Warrior' %>
            <span style=font-weight:strong;outline:dotted;background-color:#331100;color:#<%= fleet.squad.color %>>
            <%= fleet.generic_unit.name %> (<%= fleet.final_quantity %> vidas)
          <% when 'Commander' %>
            <span style=font-weight:strong;outline:solid;color:#<%= fleet.squad.color %>>
            <%= fleet.generic_unit.name %>
          <% when 'Facility' %>
            <span style=color:#<%= fleet.squad.color %>>
            <%= fleet.generic_unit.name %>
            ( <%= fleet.producing_unit.name if fleet.producing_unit %> / <%= fleet.producing_unit2.name if fleet.producing_unit2 %> )
          <% when 'CapitalShip' %>
            <span style=color:#<%= fleet.squad.color %>>
            <%= fleet.show %>
          <% when 'Sensor' %>
            <span style=color:#<%= fleet.squad.color %>>
            <%= fleet.generic_unit.name %>
          <% else %>
            <span style=color:#<%= fleet.squad.color %>>
            <%= fleet.final_quantity %>
            <%= fleet.generic_unit.name %>  
          <% end %>

        <% end %></span> 
          <br>
      <% end %>
    <% end %>
  <% end %>
</div>
