<script>
document.title = "Log de batalhas"
</script>
<div class="planet_content">
Log de todas as batalhas do esquadrão:
  <% @rounds.sort_by{|a| a.number}.reverse.each do |round| %>
    <h2> Round: <%= round.number %> </h2>

    <% round.results.group_by(&:planet).each do |planet, fleet| %>
      <% if fleet.any? { |unit| unit.squad == @squad } %>
      <h3><%= planet.name %></h3>
      <% fleet.each do |unit| %>
        <span style=color:#<%= unit.squad.color %>>
        <% case unit.generic_unit.type %>
          <% when 'Warrior' %>
            <span style=font-weight:strong;outline:dotted;background-color:#331100;color:#<%= unit.squad.color %>>
            <%= unit.show %>
          <% when 'Commander' %>
            <span style=font-weight:strong;outline:solid;color:#<%= unit.squad.color %>>
            <%= unit.show %>
          <% when 'Facility' %>
            <%= unit.show %>
          <% when 'CapitalShip' %>
            <span style=color:#<%= unit.squad.color %>>
            <%= unit.show %>
          <% else %>
            <span style=color:#<%= unit.squad.color %>>
            <%= unit.show %> 
        <% end %></span>

        <span style=color:#40E0D0> <%= unit.show_results %> </span>
        <br>
      <% end %>
      <% end %>
    <% end %>


  <% end %>
 
</div>
