<div class="planet_content">
<span style=color:#<%= @squad.color %>>** Seu objetivo ** ( <%= @squad.name %> )
<br>
Objetivo <%= @squad.goal.id %>: <%= @squad.goal.description %></span>
<br><br><br>
Lista completa dos objetivos:
<% @goals.each do |goal| %><p>
  Objetivo <%= goal.id %>: <%= goal.description %>
<% end %>
</div>
