<h2>New Squad</h2>

<%= simple_form_for @squad do |f| %>
<%= f.input :name, :label => 'Name: ' %>
<%= f.input  :faction, :collection => FACTIONS, :label => 'Faction: ' %>
<%= f.input :color, :collection => @colors, :label => 'Color: ' %>
<%= f.button :submit %>
<% end %>

