<h2>New Squad</h2>

<%= simple_form_for @squad do |f| %>
<%= f.input :name, :label => 'Name: ' %>
<%= f.input  :faction, :collection => FACTIONS, :label => 'Faction: ' %>
<%= f.input :color, :collection => @colors, :label => 'Color: ' %>
<%= f.button :submit %>
<% end %>
<b>Instruções</b><br><br>
- Preencha Nome do Esquadrão <br>
- Escolha a Faccao (define as naves que voce pode construir)<br>
- Escolha a cor:<br><br>
<span style=color:#FF0000>FF0000 - Vermelho</span><br>
<span style=color:#00FF00>00FF00 - Verde</span><br>
<span style=color:#FFFF00>FFFF00 - Amarelo</span><br>
<span style=color:#00FFFF>00FFFF - Cyan</span><br>
<span style=color:#FFFFFF>FFFFFF - Branco</span><br>
<span style=color:#EE82EE>EE82EE - Rosa</span><br>

