<script>
document.title = " Transferência "
</script>
<div class="fleet">
<h2> Transferir Créditos </h2>
<span style=font-weight:bold;font-size:13px;color:yellow> Disponível: <%= @squad.credits %> </span><p>
<table>
<tr><td>Créditos:</td><td>Para:</td></tr>
<%= simple_form_for :transfer, :url => url_for(:controller => 'squads', :action => 'transfer_credits')  do |f| %>
  <tr>
  <td><%= f.input :credits, :label => false, :input_html => { :size => 4 } %></td>
  <td><%= f.input :squad, :collection => @squads, :label => false %></td>
  <td><%= f.submit 'Transferir' %></td>
  <tr>
<% end %>
</table>
</div>
