<script>
document.title = "<%= @facility %> <%= @planet %>"
</script>
<div class="fleet">
<h2><%= @planet %></h2>
<h3><%= @facility  %></h3>
Produtividade padrão: <%= @facility.capacity %><br>
Produção acumulada: +<%= @facility.balance.to_i %><br>
Aprimoramentos: +<%= @facility.current_upgrade_ratio %> (Nível <%= @facility.level %>)<br>
<span style=font-weight:bold;font-size:13px;color:red>
<%  if @facility.sabotaged? %>
<%= "Fábrica Sabotada: -" %><%= @facility.default_capacity %> (-50%)<br>
<% end %>
</span>
<span style=font-weight:bold;font-size:13px;color:#00FF00>Produtividade A: <%= @facility.total_capacity %></span><br>
<% if @facility.producing_unit.present? %>
  <span style=font-weight:bold;font-size:13px;color:yellow>Produzindo: <%= @facility.producing_unit.name %>
  <%= "( custo #{@facility.producing_unit.price} )" %></span><br>
  <span style=font-weight:bold;font-size:13px;color:00FF00><%= "Previsão: #{@facility.units_per_turn} unidades" %><br>
<% end %>
<%= simple_form_for @facility do |f| %>
<%= f.input :producing_unit, :collection => @units, :label => 'Produção A:' %>
<span style=font-weight:bold;font-size:13px;color:#00FF00>Produtividade B: <%= @facility.secondary_capacity %></span><br>
<% if @facility.producing_unit2.present? %>
  <span style=font-weight:bold;font-size:13px;color:yellow>Produzindo: <%= @facility.producing_unit2.name %>
  <%= "( custo #{@facility.producing_unit2.price} )" %></span><br>
  <span style=font-weight:bold;font-size:13px;color:00FF00><%= "Previsão: #{@facility.units_per_turn2} unidades" %>
<% end %>
<%= f.input :producing_unit2, :collection => @units2, :label => 'Produção B:' %>
<%= f.submit 'Produzir' %>
<% end %>
<p>
<div align = center><a href = "https://docs.google.com/spreadsheet/ccc?key=0ArH0MNBRFM6hdFVDZkctYWZ5Q1FBbXJ2TGl5WGg2bmc&authkey=CL_F9boP&hl=pt_BR#gid=6" width="1070" height="760" scrolling="auto" frameborder="0" align="right" target=_blank>Tabela de naves</a></div>
</div>
<div class="fleet">
<p>
<%= render :partial => 'aprimorar', :locals => { :facility => @facility } %>
<p>
O aprimoramento custa <%= @facility.upgrade_cost %> créditos<br>
Cada nível aumenta em <%= @facility.upgrade_ratio %> sua capacidade.
<p>
</div>

