<div class="planet_content">
Type: <%= @facility.generic_unit.name  %>
<br>
Current Balance: $ <%= @facility.balance  %>
<br>
<% if @facility.producing_unit.present? %>
  Producing Capacity: $ <%= @facility.generic_unit.price / 4 %> 
 ( <%= @facility.generic_unit.price / 4 / @facility.producing_unit.price %> <%= @facility.producing_unit.name %>s per turn )
<% else %>
  Producing Capacity: $ <%= @facility.generic_unit.price / 4 %>
<% end %>
<%= simple_form_for @facility do |f| %>
<%= f.input :producing_unit, :collection => @units, :label => 'Producing Unit: ' %>
<%= f.button :submit %>
<% end %>
</div>
<div class="map">
<IFRAME src="https://spreadsheets.google.com/spreadsheet/ccc?key=0ArH0MNBRFM6hdC1aNzNwMU54clBiRTBOeUp6c3c1VEE&hl=pt_BR&authkey=CLTM4ogF#gid=6" width="1070" height="760" scrolling="auto" frameborder="0" align="right">

</IFRAME> 
</div>
