<div class="planet_content">
<h2><%= @planet %></h2>
<h3><%= @facility  %></h3>
  Balanço: $<%= @facility.balance  %>
  <br>
<% if @facility.producing_unit.present? %>
  <%= "Capacidade: $#{@facility.capacity}
  " %>
  <br>
  Produzindo: <%= @facility.producing_unit.name.pluralize %>
  <%= "( $#{@facility.producing_unit.price} )" %>
  <br>
  <%= "Previsão: #{@facility.units_per_turn} unidades para o próximo round" %>
<% else %>
  Capacidade: $<%= @facility.capacity %>
<% end %>
<p>
<%= "Sabotada" if @facility.sabotaged? %>
<%= simple_form_for @facility do |f| %>
<%= f.input :producing_unit, :collection => @units, :label => 'Escolha uma unidade para produção:' %>
<%= f.submit 'OK' %>
<% end %>
<br>
Level: <%= @facility.level %>

</div>
<br>
<%= link_to " voltar ", :back_to_main %>
<div class="map">
<IFRAME src="https://docs.google.com/spreadsheet/ccc?key=0ArH0MNBRFM6hdFVDZkctYWZ5Q1FBbXJ2TGl5WGg2bmc&authkey=CL_F9boP&hl=pt_BR#gid=6" width="1070" height="760" scrolling="auto" frameborder="0" align="right"></IFRAME> 
</div>
