<div class="planet_content">
<h2><%= @planet %></h2>
<h3><%= @facility  %></h3>
  Balance: $<%= @facility.balance  %>
  <br>
<% if @facility.producing_unit.present? %>
  <%= "Capacity: $#{@facility.capacity}
  (#{@facility.units_per_turn} #{@facility.producing_unit.name.pluralize}/round)" %>
  <br>
  <br>
  Building: <%= @facility.producing_unit.name %>
  <%= "( #{@facility.building_done}% done )" if @facility.units_per_turn < 1 %>
<% else %>
  Capacity: $<%= @facility.capacity %>
<% end %>
<%= simple_form_for @facility do |f| %>
<%= f.input :producing_unit, :collection => @units, :label => 'Producing Unit:' %>
<%= f.submit 'Change Unit' %>
<% end %>
</div>
