<div class="planet_content">
<h2><%= @planet %></h2>
<h3><%= @facility  %></h3>
Produtividade padrão: <%= @facility.capacity %><br>
Produção acumulada: +<%= @facility.balance %><br>
Aprimoramentos: +<%= @facility.current_upgrade_ratio %> (Nível <%= @facility.level %>)<br>
<span style=font-weight:bold;font-size:13px;color:red>
<%  if @facility.sabotaged? %>
<%= "Fábrica Sabotada!: -" %><%= @facility.default_capacity %> (-50%)<br>
<% end %>
</span>
<span style=font-weight:bold;font-size:13px;color:#00FF00>Produtividade total: <%= @facility.total_capacity %></span><br>
<% if @facility.producing_unit.present? %>
  <span style=font-weight:bold;font-size:13px;color:yellow>Produzindo: <%= @facility.producing_unit.name.pluralize %>
  <%= "( custo #{@facility.producing_unit.price} )" %></span><br>
  <span style=font-weight:bold;font-size:13px;color:00FF00><%= "Previsão: #{@facility.units_per_turn} unidades para o próximo turno" %>
<% end %>
<p>
<%= simple_form_for @facility do |f| %>
<%= f.input :producing_unit, :collection => @units, :label => 'Escolha uma unidade para produção:' %>
<%= f.submit 'Produzir' %>
<% end %>
<p>
<div align = center><a href = "https://docs.google.com/spreadsheet/ccc?key=0ArH0MNBRFM6hdFVDZkctYWZ5Q1FBbXJ2TGl5WGg2bmc&authkey=CL_F9boP&hl=pt_BR#gid=6" width="1070" height="760" scrolling="auto" frameborder="0" align="right" target=_blank>Tabela de naves</a></div>
<p>
Clique abaixo para aprimorar a fábrica.<br>
O aprimoramento custa <%= @facility.upgrade_cost %> créditos<br>
Cada nível aumenta em <%= @facility.upgrade_ratio %> sua capacidade.
<%= render :partial => 'aprimorar', :locals => { :facility => @facility } %>
<p>
</div>

