<script>
document.title = "Construir em <%= @planet.name %>"
</script>
<div class="planet_content">
<h2> <%= @planet.name %> </h2>
<%= simple_form_for [@planet, @facility_fleet]  do |f| %>
  <%= f.association :facility, :collection => @facilities, :label => 'Selecione a fábrica: ' %>
  <%= f.submit 'Construir' %>
<% end %>
<p>
<center><a href = "https://docs.google.com/spreadsheet/ccc?key=0ArH0MNBRFM6hdFVDZkctYWZ5Q1FBbXJ2TGl5WGg2bmc&authkey=CL_F9boP&hl=pt_BR#gid=6" width="1070" height="760" scrolling="auto" frameborder="0" align="center" target=_blank>Tabela de naves</a></center>
<p>
</div>

